In [1]:
# モジュールの読み込み
import numpy as np
import pandas as pd
from scipy import stats

import matplotlib as mpl
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()

%matplotlib inline

In [2]:
# データの読み込み
data1 = pd.read_csv('Lesson5-1.csv')

In [3]:
#標本平均の計算
mu = np.mean(data1)
mu

Length    51.820183
dtype: float64

In [4]:
#自由度の計算
df = len(data1) - 1
df

29

In [5]:
#標準誤差の計算
sigma = np.std(data1, ddof=1)
se = sigma/np.sqrt(len(data1))
se

Length    0.562163
dtype: float64

### ・帰無仮説（H0）: 池の中の魚の平均体長は50cmである
### ・対立仮説（H1）: 池の中の魚の平均体長は50cmとは異なる

In [6]:
#t値の計算
t_value = (mu-50)/se
t_value

Length    3.237819
dtype: float64

In [7]:
#p値の計算
alpha = stats.t.cdf(np.abs(t_value), df=df) # 上側の裾を使用して確率を計算
(1-alpha)*2

array([0.00301227])

In [8]:
stats.ttest_1samp(data1, 50)

Ttest_1sampResult(statistic=array([3.23781919]), pvalue=array([0.00301227]))

### 次に、「池の魚の平均体長は50cmより大きい」かどうかを調べる。こちらも有意差5％とする。

### ・帰無仮説（H0）: 池の中の魚の平均体長は50cmである
### ・対立仮説（H1）: 池の中の魚の平均体長は50cmより大きい

In [9]:
alpha = stats.t.cdf(np.abs(t_value), df=df) # 上側の裾を使用して確率を計算
1-alpha

array([0.00150613])

こちらもp値が0.05を下回っているので”有意差あり”とみなすことができる。よって、「池の魚の平均体長は50cmより有意に大きい」と判断できる。

# 2変量データのt検定

今までは1つの池の中の魚の体長といった「1変量のデータ」について考えてきました。次は、「飼料Aで育った養殖魚と飼料Bで育った養殖魚の体長」「2歳魚と3歳魚の体長」といった2変数の間で平均値に差があるか否かについて考えてみましょう。

In [10]:
data2 = pd.read_csv('Lesson5-2.csv')

In [11]:
data2.head()

   2-years-old  3-years-old
0    16.624345    14.600841
1    14.388244    14.984220
2    14.471828    14.606675
3    13.927031    14.401233
4    15.865408    14.627380

それぞれの魚について2歳時点での体長と3歳時点での体長のデータが記入されているとします。次に、この2変数の差を計算してみます。

In [12]:
data2['Difference'] = data2['3-years-old'] - data2['2-years-old']
data2.head()

   2-years-old  3-years-old  Difference
0    16.624345    14.600841   -2.023504
1    14.388244    14.984220    0.595977
2    14.471828    14.606675    0.134847
3    13.927031    14.401233    0.474201
4    15.865408    14.627380   -1.238028

### ・帰無仮説（H0）: 2歳魚と3歳魚で体長は変わらない（2歳魚と3歳魚の体長の差は0）
### ・対立仮説（H1）: 2歳魚と3歳魚で体長は異なる（2歳魚と3歳魚の体長の差は0ではない）

In [13]:
stats.ttest_1samp(data2['Difference'], 0)

Ttest_1sampResult(statistic=2.212896760339997, pvalue=0.03493196300425262)

p値が0.05を下回りましたので、「2歳魚と3歳魚の体長は有意に異なる」と判断できました。

In [14]:
stats.ttest_ind(data2['2-years-old'], data2['3-years-old'], equal_var = False)

Ttest_indResult(statistic=-2.403807649264687, pvalue=0.01945646990570736)

p値が0.05を下回ったので「2歳魚と3歳魚の体長は有意に異なる」と判断できました。